GROQ_API_KEY=
GEMINI_API_KEY=

GROQ_MODEL=
GEMINI_EMBEDDING_MODEL=gemini-embedding-001

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=

CHROMA_PERSIST_DIRECTORY=./chroma_db
